# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.lock
*.toml
.scannerwork/

rdboperator

integration-tests/mongo-volume
testreports/*.xml

# Test binary, build with `go test -c`
*.test

# Test
*.key
*.pfx
*.pem
*.crt
*.crl

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vendor/
reports/
bin/
.vscode/
#  resources/