profile: dev

grpcserver:
  port: 50052
  name: Git_Reader
  timeout: 5
  mode: debug  
  path: api/gitreader/v1


rdb:
  host: 127.0.0.1
  database: TestRepository
  username: xqledger
  password: toor
  poolsize: 2
  timeout: 30
  
kafka:
  bootstrapserver: "localhost:9094"
  groupid: RDBReaderCG
  sessiontimeout: 5000
  eventschannelenabled: true  
  rebalanceenabled: true
  partitioneofenabled: true
  autooffset: earliest
  rdbinputtopic: gitoperator-in
  gitactionbacktopic: gitoperator-out
  messageminsize: 10e3
  messagemaxsize: 10e6
