profile: default

grpcserver:
  port: 50051
  name: Git_Reader
  timeout: 5
  mode: debug  
  path: api/gitreader/v1

grpcresponse:
  ok: OK
  cancelled: CANCELLED
  invalid: INVALID_ARGUMENT
  notfound: NOT_FOUND
  permissiondenied: PERMISSION_DENIED
  unauthenticated: UNAUTHENTICATED
  notimplemented: UNIMPLEMENTED
  internal: INTERNAL
  notavailable: UNAVAILABLE
  alreadyexists: ALREADY_EXISTS

gitserver:
  url: http://git-server:3000
  authtoken: 1234sw
  username: TestOrchestrator
  password: TestOrchestrator
  email: TestOrchestrator@xqledger.com
  localreposlocation: "/Users/administrator/workspace/projects/go/src/xqledger/xp-lab/diff/"
